#
# Copyright (c) 2025 Muhammad Waleed Badar
#
# SPDX-License-Identifier: Apache-2.0
#

menu "ZLRCLIB Filesystem Configuration"

config ZLRCLIB_FS_PATH_LEN
	int "Maximum path length"
	default 128
	range 32 1024
	help
	  Defines the maximum path length used by ZLRCLIB filesystem.
	  Increase this value if you expect longer file paths are needed.

endmenu